html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #ffffff;
    font-family: 'Rajdhani', sans-serif;
    background-color: #00030f;
    background-image: url(http://www.transparenttextures.com/patterns/padded.png);
}

h1, h2 {
    font-family: 'Bangers', cursive;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

img {
    max-width: 100%;
}

.clickable p {
/*    visibility: hidden;*/
    font-size: 1em;
    color: black;
}

p {
    font-weight: 700;
}

div {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

img {
    width: 100%;
}

.primaryDiv {
    display: block;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.secondaryDiv {
    float: left;
}

#header {
    padding: 10px;
    height: 45px;
}

#main {
    height: 525px;
    text-align: center;
    width: 1100px;
}

#scene {
    margin-right: 10px;
    width: 800px;
    position: relative;
}
#solution {
    margin-right: 10px;
    margin-top: 10px;
    width: 290px;
    position: relative;
    background-color: red;
    border-radius: 0px;
    opacity: 1.0;
    height: 100px;
}
#background {
    display: block;
    height: 525px;
    width: 100%;
}
#commentary {
    background: red;
    height: 100px;
    margin-top: 10px;
    width: 800px;
}
#toolbox {
    background-image: url(http://www.transparenttextures.com/patterns/padded.png);
    background-color: red;
    width: 290px;
}
#toolbox table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: solid thick white;
    height: 157px;
    width: 140px;
}
#text {
    font-size: .75em;
}

.clickable {
    margin: 0;
    background-color: yellow;
    border-radius: 10px;
    opacity: 0.5;
    width: 150px;
    height: 150px;
    position: absolute;
}

.clickable img {
    opacity: 1.0;
}

.hidden {
    visibility: hidden;
}

.entered, :focus {
    background-color:rgba(255,0,0,0.1);
    outline: none;
    color: blue;
}