html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #ffffff;
    font-family: 'Rajdhani', sans-serif;
    background-color: #00030f;
    background-image: url(http://www.transparenttextures.com/patterns/padded.png);
}

h1, h2 {
    font-family: 'Bangers', cursive;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

.clickable p {
    visibility: hidden;
}

p {
    font-size: 2em;
    font-weight: 700;
}

div {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.primaryDiv {
    display: block;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.secondaryDiv {
    float: left;
}

#header {
    padding: 10px;
    height: 45px;
}

#main {
    height: 525px;
    text-align: center;
    width: 1100px;
}

/*#solution {
    width: 237px;
    position: relative;
    margin-right: 10px;
    height: 525px;
}

#solution h2 {
    margin-top: 215px;
    margin-bottom: 215px;
}*/

#scene {
    margin-right: 10px;
    width: 800px;
    position: relative;
}
#background {
    display: block;
    height: 525px;
    width: 100%;
}

#toolbox {
    background-color: gray;
    width: 290px;
}
#toolbox table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: solid thick white;
    height: 155px;
}


#commentary {
    background: red;
    height: 100px;
    margin-top: 10px;
}

#text {
    font-size: 1em;
}

.clickable {
    margin: 0;
    background-color: gray;
    opacity: 0.5;
    width: 150px;
    height: 150px;
    position: absolute;
}
.hidden {
    visibility: hidden;
}

.entered, :focus {
    background-color: yellow;
}