html, body {
    font-family: 'Bangers', cursive;
    background-image: url(http://www.transparenttextures.com/patterns/padded.png);
    background-color: #060F12; //dark blue
    margin: auto;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

h1 {
	font-size: 8em;
	color: #E1E3D8; //light grey almost white
}

h2 {
	font-size: 3em;
	color: #FCAE0C; // yellow
}

video {
    vertical-align: top;
    object-fit: fill;
}