html, body {
    font-family: 'Bangers', cursive;
    background-image: url(http://www.transparenttextures.com/patterns/padded.png);
    background-color: #2BBFBD;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 3.5em;
    color: white;
}

#container {
    width: 1024px;
    margin: auto;
}

#video {
    height: px;
    border: thin solid #F5EAB9;
}

#buttonsDiv {
    height: 122px;
    margin-top: 8px;
}

.clickable {
    display: inline-block;
    width: 299px;
    height: 122px;
    text-align: center;
    padding: 0;
    border-radius: 40px;
    margin: 5px;
    border: 15px solid #F29B30;
    cursor: crosshair;
    vertical-align: middle;
    background-color: #F2B33D;
}

video {
    vertical-align: top;
    object-fit: fill;
}

.entered {
    color: #F22E2E;
}

.clickable :hover {
    color: #F22E2E;
}