body {
	margin: auto;
	padding: 0;
	text-align: center;
	font-family: 'Bangers', cursive;
	color: white;
	background-color: #00030f;
	background-image: url(http://www.transparenttextures.com/patterns/padded.png);
}

h1 {
	font-size: 8em;
	margin-top: 70px;
	margin-bottom: 30px;
}
h2 {
	font-size: 3em;
	margin-top: 10px;
	padding-top: 0;
	color: gray;
	margin-bottom: 40px;
}
h3 {
	font-size: 5em;
	position: relative;
}
div {
	padding-top: 20px;
	padding-bottom: 20px;
	vertical-align: middle;
	float: none;
}

.header, .container {
	width: 1100px;
	margin: auto;
	padding: 0;
}

.clickable {
	display: inline-block;
	width: 300px;
	height: 250px;
	text-align: center;
	padding: 0;
	border-radius: 40px;
	border: 15px solid white;
	margin: 15px;
	background-color: #000033;
}

.entered, .clickable:hover {
	color: red;
}