body {
	margin: auto;
	padding: 0;
	text-align: center;
	font-family: 'Bangers', cursive;
	color: white;
	background-color: #00030f;
	background-image: url(http://www.transparenttextures.com/patterns/padded.png);
}	

h1 {
	font-size: 8em;
	margin-top: 70px;
	margin-bottom: 30px;
}
h2 {
	font-size: 3em;
	margin-top: 10px;
	padding-top: 0;
	color: gray;
	margin-bottom: 40px;
}
h3 {
	font-size: 5em;
	position: relative;
	top: -275px;
}
div {
	padding-top: 20px;
	padding-bottom: 20px;
	vertical-align: middle;
	float: none;
}
a {
	text-decoration: none;
	color: white;
}

.header, .container, .footer {
	width: 800px;
	margin: auto;
	padding: 0;
}

.choicebutton {
	display: inline-block;
	width: 350px;
	height: 250px;
	text-align: center;
	padding: 0;
	border-radius: 40px;
}

.choicebutton:hover {
	color: red;
}

#demo {
	float: left;
}
#play {
	float: right;
}

img {
	position: relative;
	width: 100%;
}