html, body {
	font-family: 'Bangers', cursive;
	background-image: url(http://www.transparenttextures.com/patterns/padded.png);
	background-color: #060F12; //dark #76DBBF
	margin: auto;
	padding: 0;
	text-align: center;
	vertical-align: middle;
}

h1 {
	color: #F5EAB9; // #F5EAB9
	margin-top: 70px;
	margin-bottom: 30px;
	font-size: 8em;
}

h2, h3 {
	color: #FCB611; // light #FCB611
}

h2 {
	padding-top: 0;
	margin-top: 10px;
	margin-bottom: 40px;
	font-size: 3em;
}

h3 {
	font-size: 5em;
}

div {
	padding-top: 20px;
	padding-bottom: 20px;
	vertical-align: middle;
	float: none;
}

.header, .container {
	width: 1024px;
	margin: auto;
	padding: 0;
}

.clickable {
	display: inline-block;
	background-color: #76DBBF; // cyan
	vertical-align: middle;
	width: 300px;
	height: 250px;
	text-align: center;
	padding: 0;
	border-radius: 40px;
	border: 15px solid #F5EAB9; // #F5EAB9
	margin: 15px;
	cursor: crosshair;
}

.entered h3, .clickable:hover {	
	color: #FC3714; // bright #FCB611
}