html, body {
    font-family: 'Bangers', cursive;
    background-image: url(http://www.transparenttextures.com/patterns/padded.png);
    background-color: #060F12; //dark #76DBBF
    margin: auto;
    padding: 0;
    text-align: center;
}

#header {
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 5em;
	color: #F5EAB9;
	padding: 0;
	margin: 0;
}

h2 {
	padding: 0;
}

h2, h3 {
	font-size: 3em;
	color: #FCB611;
	margin: 0;
}

div {
	margin: auto;
}

#message {
	font-family: Rajdhani, sans-serif;
	weight: 400;
	font-size: 3em;
	color: #76DBBF;
}

#container {
	width: 1100px;
	height: 700px
}

.clickable h3 {
    vertical-align: middle;
}

.clickable {
    display: inline-block;
    width: 225px;
    height: 175px;
    text-align: center;
    padding: 0;
    border-radius: 40px;
    margin: 5px;
    border: 15px solid #F5EAB9;
    cursor: crosshair;
    vertical-align: middle;
    color: #FCB611;
    background-color: #76DBBF;
}

.entered h3 {
    color: #FC3714;
}

.clickable :hover {
    color: #FC3714;
}