html, body {
    font-family: 'Bangers', cursive;
    background-image: url(http://www.transparenttextures.com/patterns/padded.png);
    background-color: #2BBFBD;
    margin: auto;
    padding: 0;
    text-align: center;
}

#header {
    padding: 0;
    margin: 10px;
}

h1 {
    font-size: 5em;
    color: white;
    padding: 0;
    margin: 0;
}
h2 {
    color: ;
}

h3 {
    color: #292929;
}

h2, h3 {
    padding: 0;
    font-size: 3em;
    color: #FCB611;
    margin: 0;
}

div {
    margin: auto;
}

#message {
    font-family: Rajdhani, sans-serif;
    weight: 400;
    font-size: 3em;
    color: #292929;
    margin: 0;
}

#container {
    width: 1024px;
    height: 700px
}

.clickable h3 {
    vertical-align: middle;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.clickable {
    display: inline-block;
    min-width: 240px;
    height: 175px;
    text-align: center;
    padding: 0;
    border-radius: 40px;
    margin: 5px;
    border: 15px solid #F29B30;
    cursor: crosshair;
    vertical-align: middle;
    background-color: #F2B33D;
}

.entered h3 {
    color: #F22E2E;
}

.clickable :hover {
    color: #F22E2E;
}