html, body {
    font-family: 'Bangers', cursive;
    background-image: url(http://www.transparenttextures.com/patterns/padded.png);
    background-color: #060F12; //dark blue
    margin: auto;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

#header {
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 5em;
	color: white;
	padding: 0;
	margin: 0;
}

h2 {
	padding: 0;
}

h2, h3 {
	font-size: 3em;
	color: orange;
	margin: 0;
}

div {
	margin: auto;
	vertical-align: middle;
}

#message {
	font-family: Rajdhani, sans-serif;
	weight: 400;
	font-size: 3em;
	color: blue;
}

#container {
	width: 1100px;
	height: 700px
}

.clickable {
    display: inline-block;
    width: 225px;
    height: 175px;
    text-align: center;
    padding: 0;
    border-radius: 40px;
    margin: 5px;
    border: 15px solid white;
    cursor: crosshair;
    vertical-align: middle;
    color: orange;
    background-color: blue;
}

.entered {
    color: red;
}

.clickable :hover {
    color: red;
}