body {
	margin: 0;
	padding: 0;
	background-color: white;
	text-align: center;
	font-family: sans-serif;
	font-style: bold;
	/*font-family: 'Source Code Pro', sans-serif;*/
}

h1, h2 {
	color: white;
	font-weight: 400;
}

h1 {
	font-size: 5.5em;
}

h2 {
	font-size: 2em;
	font-style: italic;
	margin-top: 0;
	padding-top: 0;
}

a {
	font-size: 5em;
	color: white;
	text-decoration: none;
}

div {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #1330B2;
	color: #3D6399;
	vertical-align: middle;
	float: none;
}

.header, .container, .footer {
	background-color: orange;
	width: 100%;
	margin-bottom: 10px;
}

.container, .footer {
	display: table;
}

.choicebutton {
	background-color: #00EEFF;
	width: 30%;
	height: 150px;
	display: table-cell;
	border: solid white 20px;
}